<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
  		<filter-name>encodeFilter</filter-name>
  		<filter-class>cn.edu.zju.ccnt.filter.EncodeFilter</filter-class>
  	</filter>
  
  	<filter-mapping>
  		<filter-name>encodeFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  	<filter>
  		<filter-name>sessionFilter</filter-name>
  		<filter-class>cn.edu.zju.ccnt.filter.UserSessionFilter</filter-class>
  		
  		<init-param>
			<param-name>LOGIN_PAGE</param-name>
			<param-value>login.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>LOGIN_ACTION</param-name>
			<param-value>login.do</param-value>
		</init-param>
		<init-param>
			<param-name>VALID_PREFIX</param-name>
			<param-value>resources/</param-value>
		</init-param>
  	</filter>
  
  	<filter-mapping>
  		<filter-name>sessionFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.zju.ccnt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageServiceServlet</servlet-name>
    <servlet-class>cn.edu.zju.ccnt.servlet.admin.ManageServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageRingsServlet</servlet-name>
    <servlet-class>cn.edu.zju.ccnt.servlet.admin.ManageRingsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuditInformationServlet</servlet-name>
    <servlet-class>cn.edu.zju.ccnt.servlet.admin.AuditInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClusterHealthServlet</servlet-name>
    <servlet-class>cn.edu.zju.ccnt.servlet.cluster.ClusterHealthServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageServiceServlet</servlet-name>
    <url-pattern>/admin-services</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageRingsServlet</servlet-name>
    <url-pattern>/admin-rings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuditInformationServlet</servlet-name>
    <url-pattern>/admin-audit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClusterHealthServlet</servlet-name>
    <url-pattern>/cluster-health</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
